* {
  box-sizing: border-box;
}

a {
  color: #0367d8;
  text-decoration: none;
  transition: 200ms;
  transition-property: color;
}

a:hover,
a:focus,
a:target {
  color: inherit;
}

body {
  font-family: system-ui;
  margin: 0;
}

h1 {
  font-size: 3em;
}

h1,
p,
textarea {
  margin: calc(1em + 1ex) 0;
}

main {
  margin: 0 auto;
  max-width: 40em;
  padding: 0 calc(1em + 1ex);
}

@media (width >= 40em) and (height >= 20em) {
  main {
    /* Go all Tschichold when supported */
    margin: 11.1vh 22.2vw 22.2vh 11.1vw;
    padding: 0 calc(2em + 2ex);
  }
}

textarea {
  background-color: hsl(0deg 0% 97.5%);
  border-radius: 3px;
  border: 1px solid hsl(214deg 13% 90%);
  color: inherit;
  display: block;
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
  margin: -1px;
  max-width: 100%;
  padding: calc(0.5 * (1em + 1ex));
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: hsl(214deg 13% 7.5%);
    color: hsl(214deg 13% 95%);
  }

  textarea {
    background-color: hsl(214deg 13% 5%);
    border-color: hsl(214deg 13% 12.5%);
  }
}
